torch==2.5.1
transformers==4.47.1
sentencepiece==0.2.0
protobuf==4.25.6
accelerate==1.2.1
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.6.0
tqdm==4.67.0
matplotlib==3.9.2
psutil==6.1.0
huggingface-hub==0.27.0